//
// switcher.scss
//
ul {
    &.pattern {
        list-style: none outside none;
        overflow: hidden;
        padding: 0;
        border-radius: 0px;
        li {
            &.list-inline-item:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 0;
            }
            a {
                cursor: pointer;
                display: block;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: 3px;
            }
        }
        .color1 {
            background-color: $blue;
        }
        
        .color2 {
            background-color: $yellow;
        }
        
        .color3 {
            background-color: $green;
        }
        
        .color4 {
            background-color: $red;
        }
        
        .color5 {
            background-color: $purple;
        }
        
        .color6 {
            background-color: $saffron;
        }
        
        .color7 {
            background-color: $pink;
        }
    }

    .t-dark{} 

}
@media only screen and (max-width: 375px) {
	#style-switcher {
		display: none;
    }
}